body {
  /* background: url(background.jpg) no-repeat center center fixed; */
  background-color: #0b344d;
  background-size: 100%;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  height: 100%;
  width: 100%;
}

